<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true"
		 convertDeprecationsToExceptions="false"
		 convertWarningsToExceptions="false"
		 convertNoticesToExceptions="false"
		 convertErrorsToExceptions="false"
		 failOnWarning="false">
	<php>
		<ini name="display_errors" value="1"/>
		<ini name="display_startup_errors" value="1"/>
		<ini name="error_reporting" value="-1"/>
	</php>

	<testsuites>
		<testsuite name="Unit">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
